<div id="<%= dom_id barang_keluar %>">
  <p>
    <strong>Barang:</strong>
    <%= barang_keluar.barang.nama_barang %>
  </p>

  <p>
    <strong>Jumlah:</strong>
    <%= barang_keluar.jumlah %>
  </p>

  <p>
    <strong>Waktu:</strong>
    <%= barang_keluar.waktu %>
  </p>

</div>
