<h1>Editing barang keluar</h1>

<%= render "form", barang_keluar: @barang_keluar %>

<br>

<div>
  <%= link_to "Show this barang keluar", @barang_keluar %> |
  <%= link_to "Back to barang keluars", barang_keluars_path %>
</div>
