<div id="<%= dom_id barang_masuk %>">
  <p>
    <strong>Barang:</strong>
    <%= barang_masuk.barang.nama_barang %>
  </p>

  <p>
    <strong>Jumlah:</strong>
    <%= barang_masuk.jumlah %>
  </p>

  <p>
    <strong>Waktu:</strong>
    <%= barang_masuk.waktu %>
  </p>

</div>
