<h1>Editing barang masuk</h1>

<%= render "form", barang_masuk: @barang_masuk %>

<br>

<div>
  <%= link_to "Show this barang masuk", @barang_masuk %> |
  <%= link_to "Back to barang masuks", barang_masuks_path %>
</div>
